.detail {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__loading {
        margin: 20em 0em;
    }

    &__image {
        max-width: 80%;
    }
}

.loading {
    display: none;
}